* {
  background-color: lightblue;
}

hr {
  color: black;
}

.App {
  text-align: center;
}

#welcome {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar {
  list-style-type: none;
  color: gray;
}

.navbar-links a {
  display: inline-block;
  padding: 20px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar-links a:hover {
  background-color: white;
  color: black;
}